# Xcode
.DS_Store
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Build products
build/
DerivedData/
*.o
*.LinkFileList
*.hmap

# App specific
ScreenSwapper.app/
*.dmg
pack.temp.dmg

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent 